$color-primary: orange;
$color-secondary: gray;
$color-tertiaary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

@mixin headingStyles($fontSize: 50px) {
    font-size: $fontSize;
    color: $color-secondary;
    text-align: center;
}

@mixin footerTransition($params...) {
    transition: $params;
}

.nav {
    background-color: $color-primary;

    ul {
        li {
            list-style: none;
        }
    }

    a {
        text-decoration: none;
        font-size: $font-sm;
        color: $color-secondary;

        // The `&` always refers to the parent selector when nesting
        &:hover {
            color: greenyellow;
        }
    }
}

.banner {
    h1 {
        @include headingStyles($font-lg);
    }
}

.footer {
    h3 {
        @include headingStyles;
        @include footerTransition(color 0.5s, background-color 1s);

        &:hover {
            color: $color-tertiaary;
            background-color: $color-primary;
        }
    }
}