@import "test";

$color-primary: orange;
$color-secondary: gray;
$color-tertiaary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
    background-color: lighten($color-primary, 10%);

    ul {
        li {
            list-style: none;
        }
    }

    a {
        text-decoration: none;
        font-size: $font-sm;
        color: darken($color-secondary, 5%);

        // The `&` always refers to the parent selector when nesting
        &:hover {
            color: greenyellow;
        }
    }
}

%heading {
    color: transparentize($color-primary, 0.8);
    font-size: $font-lg;
    background-color: $color-secondary;
    text-align: center;
}

h1 {
    @extend %heading;

    &:hover {
        background-color: green;
    }
}


.footer {
    h3 {
        @extend h1;
    }
}